{% if on_fail_redirect_to %}
import { User } from "@/types";
import { useNavigate } from "react-router";
import { useEffect, useState } from "react";
{% endif %}
{% for imported_component in imported_components %}
  import {{ imported_component }} from "@/components/{{ imported_component }}"
{% endfor %}

const {{ id }} = () => {
  {% if on_fail_redirect_to %}
  const storedUser = localStorage.getItem("LoggedInUser");
  const [LoggedInUser, _] = useState<User | undefined>(
    storedUser ? (JSON.parse(storedUser) as User) : undefined
  );
  const navigate = useNavigate();

  useEffect(() => {
    if (!LoggedInUser) {
      navigate("{{ on_fail_redirect_to }}");
    }
  }, [LoggedInUser]);

  if (LoggedInUser)
  {% endif %}

  return (
    <>
      {%- autoescape false -%}
        {{ render_expression }}
      {% endautoescape -%}
    </>
  );
};

export default {{ id }};
