const baseUrl = import.meta.env.VITE_PUBLIC_API_BASE_URL;

{% for func in functions %}
export const {{ func.id }} = (
  {% if func.type == "update" or func.type == "delete" or func.type == "findFirst" %}
  id: number
  {% endif %} ) =>
  `${baseUrl}/{{ func.route }}/{% if func.type == "update" or func.type == "delete" or func.type == "findFirst" %}${id}{% endif %}`
{% endfor %}
