import Form from "./Form";

const baseUrl = "http://localhost:4000";

const {{ id }} = () => {
  const url = `${baseUrl}/{{ post_to }}`;

  return (
    <>
      <Form
        method={% if type == "create" %}"POST"{% else %}"PUT"{% endif %}
        url={url}
        schema={[
          {% for field in form_fields %}
            {
              {% for attr in field %}
                {{ attr.name }}: "{{ attr.value }}",
              {% endfor %}
            },
          {% endfor %}
        ]}
        formbutton={{ "{{" }}
          {% for attr in form_button %}
            {{ attr.name }}: "{{ attr.value }}",
          {% endfor %}
        {{ "}}" }}
      />
    </>
  );
};

export default {{ id }};
