import * as Queries from "@/services"
import useFetch from "@/libs/hooks/useFetch";
{%- autoescape false -%}
{% if imports %}
  {{ imports }}
{% endif %}

{% if args %}
type {{ id }}Props = {
  {% for arg in args %}
  {{ arg.id }}{{ arg.type }};
  {% endfor %}
}
{% endif %}

const {{ id }} = ( {% if args %} { {% for arg in args %}{{ arg.id }},{% endfor %} }: {{ id }}Props {% endif %} ) => {
  {{ fn }}
};

export default {{ id }};
{% endautoescape -%}
