{% if requires_auth %}
import { useState } from "react";
import { User } from "@/types";
{% endif %}
import {  {{ variable.scalar_type  }}  } from "@/types";
import useFetch from "@/libs/hooks/useFetch";
{% for imported_component in imported_components %}
  import {{ imported_component }} from "./{{ imported_component }}"
{% endfor %}


const baseUrl = "http://localhost:4000";

const {{ id }} = () => {
  {% if requires_auth %}
  const storedUser = localStorage.getItem("LoggedInUser");
  const [LoggedInUser, _] = useState<User | undefined>(
    storedUser ? (JSON.parse(storedUser) as User) : undefined
  );
  {% endif %}
  const url = `${baseUrl}/{{ find_from }}`;
  const { data: {{ variable.id }}, isLoading, error } = useFetch<{{ variable.type }}>(url,
  {% if requires_auth %}
  LoggedInUser?.accessToken
  {% endif %});

  if (error) {
    return (
      {%- autoescape false -%}
        {{ on_error }}
      {% endautoescape -%})
  };

  if (isLoading) {
    return (
      {%- autoescape false -%}
        {{ on_loading }}
      {% endautoescape -%})
  };

  return (
    <>
      {%- autoescape false -%}
        {{ render_expression }}
      {% endautoescape -%}
    </>
  );
};

export default {{ id }};
