import { z } from 'zod';

// TODO: should be create dynamically
export const findUniqueValidator = z.object({
  where: z.object({
    {{ id_field }}: z
      .string({
        required_error: '`{{ id_field }}` is required',
      })
      .regex(/^\d+$/)
      .transform(({{ id_field }}: string) => parseInt({{ id_field }}, 10)),
  }),
});
