{
  "name": "client",
  "private": true,
  "version": "0.0.0",
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build": "tsc && vite build",
    "prettier": "prettier --write 'src/**/*.{js,ts,jsx,tsx}'",
    "preview": "vite preview"
  },
  "dependencies": {
    "react": "^18.2.0",
    "react-dom": "^18.2.0",
    "react-router": "^6.8.1",
    "react-router-dom": "^6.8.1",
    "zod": "^3.20.6",
    "@hookform/resolvers": "^2.9.11",
    "react-hook-form": "^7.43.5"{% if deps or deps.length > 0 %},{% endif %}
    {% for dep in deps %}
    "{{ dep.id }}": "{{ dep.version }}"{% if loop.revindex0 != 0 %},{% endif %}
    {% endfor %}
  },
  "devDependencies": {
    "@types/react": "^18.0.27",
    "@types/react-dom": "^18.0.10",
    "@vitejs/plugin-react-swc": "^3.0.0",
    "typescript": "^4.9.3",
    "vite": "^4.1.0",
    "vite-plugin-pages": "^0.28.0",
    "vite-plugin-windicss": "^1.8.10",
    "windicss": "^3.5.6",
    "prettier": "^2.8.4",
    "eslint": "^7.20.0",
    "@typescript-eslint/eslint-plugin": "^4.15.1",
    "@typescript-eslint/parser": "^4.15.1",
    "eslint-plugin-import": "^2.22.1",
    "eslint-plugin-jsx-a11y": "^6.4.1",
    "eslint-plugin-react": "^7.22.0",
    "eslint-plugin-react-hooks": "^4.2.0"
  }
}
