import express from 'express';
import { validate, isAuth } from '../middlewares';
import { authValidators } from '../validators';
import { authController } from '../controllers';

const authRouter = express.Router();

authRouter.post(
  '/signup',
  validate(authValidators.signupValidator),
  authController.signup,
);

authRouter.post('/login', validate(authValidators.loginValidator), authController.login);

export default authRouter;
