import express from 'express';
{% for name in names %}
import {{ name }}Router from './{{ name  }}';
{% endfor %}

const router = express.Router();

{% for name in names %}
router.use('/{{ name  }}s', {{ name  }}Router);
{% endfor %}

export default router;
