import express from 'express';
import * as middlewares from '../middlewares';
import { {{ name  }}Validators } from '../validators';
import { {{ name }}Controller } from '../controllers';
import sse from '../utils/sse';

const {{ name }}Router = express.Router();

{{ name }}Router.get('/events', sse.init);
{{ name }}Router.get('/:id/events', sse.init);

{% for route in list %}
  {{ name }}Router.
  {% if route.type == "findMany" or route.type == "findUnique" %}
  get
  {% elif route.type == "create" %}
  post
  {% elif route.type == "update" %}
  put
  {% elif route.type == "delete" %}
  delete
  {% endif %}
  (
    '/{% if route.where %}:{{ route.where }}{% endif %}',
    middlewares.validate({{ name }}Validators.{{ route.id }}Validator),
    {% for middleware in route.middlewares %}middlewares.{{ middleware }},{% endfor %}
    {{ name }}Controller.{{ route.id }},
  );
{% endfor %}

export default {{ name }}Router;
