import express from 'express';
import * as middlewares from '../middlewares';
import { {{ name  }}Validators } from '../validators';
import { {{ name }}Controller } from '../controllers';
import sse from '../utils/sse';

const {{ name }}Router = express.Router();

{{ name }}Router.get('/events', sse.init);
{{ name }}Router.get('/:id/events', sse.init);

{% for route in list %}
{% if route.custom %}
  {{ route.custom }}
{% else %}
  {{ name }}Router.{{ route.http_method }}
  (
    {% if route.custom_route %}'',{% else %}'/{% if route.where %}:{{ route.where }}{% endif %}',{% endif %}
    {% if not route.custom_route %}middlewares.validate({{ name }}Validators.{{ route.id }}Validator),{% endif %}
    {% for middleware in route.middlewares %}middlewares.{{ middleware }},{% endfor %}
    {{ name }}Controller.{{ route.id }},
  );
{% endif %}
{% endfor %}

export default {{ name }}Router;
