import express from 'express';
import { validate } from '../middlewares';
import { userValidators } from '../validators';
import { userController } from '../controllers';

const userRouter = express.Router();

userRouter.get(
  '/:id(\\d+)',
  validate(userValidators.findUniqueValidator),
  userController.getById,
);

export default userRouter;
